# Nomba Sandbox Credentials
NOMBA_ACCOUNT_ID=your_sandbox_account_id
NOMBA_CLIENT_ID=your_sandbox_client_id
NOMBA_CLIENT_SECRET=your_sandbox_client_secret

# Firebase Configuration
# If not using application default credentials, you can provide the path to your service account json
# GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/service-account-file.json

# Resend Email Configuration
RESEND_API_KEY=your_resend_api_key_here
