node_modules/
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
ngrok.log
.DS_Store

# User Resources
*.pdf
ai-directive.md

# Firebase Credentials
service-account.json

# Deploy and AI Memory
deploy/
.ai_memory*
