@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'DM Sans', system-ui, sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;

  --color-nomba-yellow: #f2c94c;
  --color-nomba-dark: #121212;
  --color-luggik-bg: #FAF9F4;
  --color-luggik-text: #0B0F0E;
  --color-luggik-yellow: #FFCC00;
  --color-luggik-gray: #4D4D4D;
}

@keyframes scan {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(280px);
  }
}
